// Header.less
// -----------------------------------------------------------------

header[role="banner"] {
    .box-sizing(border-box);
    width: 18.5%;
    height: 68px;
    margin: 2em 0;
    background: #542c87;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    > h1 {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 4px 0;
        /*margin: 0;
        font-family: serif;
        font-size: 2em;
        color: #fff;*/
        height: 48px;
        > img {
            display: block;
            //width: 200px;
            height: 48px;
            margin: 0 auto;
        }
    }
}

footer {
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 24px;
    padding-bottom: 2em;
}